
/*DEVELOPER: Allan Mwirigi, IS117-001, Fall 2021*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


li, a {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 23px;
   color: black;
   text-decoration: none;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 0px;
   padding-right: 30px;

}

.logo{
   margin-left: 0;
   padding-left:  0;
}

.nav_links {
   list-style: none;
}

.nav_links li {
   display: inline-block;
   padding: 0px 8px;
}

button {
   padding: 10px 10px;
   background-color: dodgerblue;
   border: none;
   border-radius: 20px;
}

.Infotext{
   font-size: 30px;
   margin: 20px;
}

.row {
   padding-left: 50px;
}

.navbar-custom {
   background-color: lightcoral;
}

.table{
   caption-side: top;
}

table {
   float: left;
   margin: 20px;
   border: 1px solid #000000;
   width: 20%;
   max-width: 50px;
   overflow-y: scroll;
   height: 10px;
}

th, td {
   border: 1px solid #000000;
   margin: 20px;

}

.infoflag {
   float: left;
   margin: 20px
}